<h1 id="search-hdr1-state-name"><%= us_states.map(&:reverse).to_h[@state_code] %>'s Parks</h1>
<section class="search-parks">
  <p>total returned: <%= @total %> parks</p>
  <span id="search-park-name">
    <h4><% @parks.each do |park|%></h4>
  </span>
  <h4>Park Name</h4>
  <span id="search-park-name">
    <p><%= park[:name] %></p>
  </span>
      <!--<span style="font-weight:bold" id="search-state-name">
        <p><%= us_states.map(&:reverse).to_h[@state_code] %></p>
      </span>
      -->
      <h4>Description</h4>
      <span id="search-descriptions">
        <p><%= park[:description] %></p>
      </span>
      <span id="search-directions">
        <h4>Directions</h4>
        <p><%= park[:directions] %></p>
      </span>
    <% end %>
</section>